# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
ui/node_modules
server/node_modules

# testing
RawData.js

# production
/build

# misc
roadmap
.DS_Store
cSpell.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
